In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('ted_data_clean.csv')

In [5]:
df.head()

,Unnamed: 0,title,tags
0,0,do schools kill creativity?,"['Do', 'schools', 'kill', 'creativity?', 'chil..."
1,1,averting the climate crisis,"['Averting', 'the', 'climate', 'crisis', 'alte..."
2,2,simplicity sells,"['Simplicity', 'sells', 'computers', 'entertai..."
3,3,greening the ghetto,"['Greening', 'the', 'ghetto', 'MacArthur grant..."
4,4,the best stats you've ever seen,"['The', 'best', 'stats', ""you've"", 'ever', 'se..."

In [6]:
df=df[['title','tags']]

In [7]:
df.head()

,title,tags
0,do schools kill creativity?,"['Do', 'schools', 'kill', 'creativity?', 'chil..."
1,averting the climate crisis,"['Averting', 'the', 'climate', 'crisis', 'alte..."
2,simplicity sells,"['Simplicity', 'sells', 'computers', 'entertai..."
3,greening the ghetto,"['Greening', 'the', 'ghetto', 'MacArthur grant..."
4,the best stats you've ever seen,"['The', 'best', 'stats', ""you've"", 'ever', 'se..."

In [ ]:
#now converting each tag into an vector

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv=CountVectorizer(max_features=3000,stop_words='english')

In [21]:
vectors=cv.fit_transform(df['tags']).toarray()

In [22]:
vectors.shape

(2550, 3000)

In [19]:
#now time for building a distance matrix

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
distance_matrics=cosine_similarity(vectors)

In [24]:
distance_matrics.shape

(2550, 2550)

In [25]:
distance_matrics[2]

array([0.        , 0.08703883, 1.        , ..., 0.        , 0.01962672,
       0.060003  ])

In [29]:
def srch(x):
    i=df[df['title']==x].index[0]
    l=distance_matrics[i]
    sort_l=sorted(list(enumerate(l)),reverse=True,key=lambda x:x[1])
    rec_l=sort_l[0:10]
    for i in rec_l:
        print(df['title'][i[0]])

In [31]:
srch('simplicity sells')

simplicity sells
the music wars
5 predictions, from 1984
designing for simplicity
how better tech could protect us from distraction
toward a science of simplicity
cool tricks your phone can do
pointing to the future of ui
rethink the desktop with bumptop
the technology of storytelling

NoneType

In [28]:
##now making an class so that preserve the object in pickle from

In [39]:
class Recommend:    
    def srch(self,x):
        i=df[df['title']==x].index[0]
        l=distance_matrics[i]
        sort_l=sorted(list(enumerate(l)),reverse=True,key=lambda x:x[1])
        rec_l=sort_l[0:10]
        for i in rec_l:
            print(df['title'][i[0]])

In [40]:
obj=Recommend()

In [ ]:
#now convert obj into pkl file

In [41]:
import pickle

with open('my_Ted_object.pkl', 'wb') as file:
    pickle.dump(obj, file)

In [43]:
with open('my_Ted_object.pkl', 'rb') as file:
    loaded_object = pickle.load(file)

loaded_object.srch('the music wars')
# Output: MyClass(name=example, value=42)

the music wars
simplicity sells
cool tricks your phone can do
the untouchable music of the theremin
beethoven the businessman
10 top time-saving tech tips
the diy orchestra of the future
a cello with many voices
this is beatjazz
the transformative power of classical music