In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('raw_ted_data.csv')

In [3]:
df.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [4]:
df=df[['description','event','main_speaker','ratings','speaker_occupation','tags','title']]

In [5]:
df.head()

,description,event,main_speaker,ratings,speaker_occupation,tags,title
0,Sir Ken Robinson makes an entertaining and pro...,TED2006,Ken Robinson,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?
1,With the same humor and humanity he exuded in ...,TED2006,Al Gore,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis
2,New York Times columnist David Pogue takes aim...,TED2006,David Pogue,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells
3,"In an emotionally charged talk, MacArthur-winn...",TED2006,Majora Carter,"[{'id': 3, 'name': 'Courageous', 'count': 760}...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto
4,You've never seen data presented like this. Wi...,TED2006,Hans Rosling,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen

In [6]:
l=eval(df['ratings'].values[1])

In [7]:
x=[i['name'] for i in l]

In [8]:
x

['Funny',
 'Courageous',
 'Confusing',
 'Beautiful',
 'Unconvincing',
 'Longwinded',
 'Informative',
 'Inspiring',
 'Fascinating',
 'Ingenious',
 'Persuasive',
 'Jaw-dropping',
 'Obnoxious',
 'OK']

In [9]:
k=[eval(l) for l in df['ratings'].values]

In [10]:
def comnt(k):
    con=[]
    for i in k:
        temp=''
        for j in i: 
            temp=temp+j['name']+','    
        con.append(temp[:-1])
    return con

In [11]:
comment=comnt(k)

In [12]:
comment_arry=np.array(comment)

In [13]:
comment_arry.reshape(1,2550)

array([['Funny,Beautiful,Ingenious,Courageous,Longwinded,Confusing,Informative,Fascinating,Unconvincing,Persuasive,Jaw-dropping,OK,Obnoxious,Inspiring',
        'Funny,Courageous,Confusing,Beautiful,Unconvincing,Longwinded,Informative,Inspiring,Fascinating,Ingenious,Persuasive,Jaw-dropping,Obnoxious,OK',
        'Funny,Courageous,Ingenious,Beautiful,Unconvincing,Longwinded,Informative,Inspiring,Fascinating,Confusing,OK,Persuasive,Jaw-dropping,Obnoxious',
        ...,
        'Beautiful,Informative,Ingenious,Inspiring,Courageous,Confusing,Fascinating,Unconvincing,OK,Persuasive,Funny,Jaw-dropping,Longwinded,Obnoxious',
        'Longwinded,Unconvincing,Funny,Inspiring,Fascinating,Informative,Ingenious,Persuasive,Courageous,Beautiful,OK,Obnoxious,Jaw-dropping,Confusing',
        'Unconvincing,Informative,Inspiring,OK,Fascinating,Ingenious,Confusing,Obnoxious,Beautiful,Longwinded,Persuasive,Jaw-dropping,Courageous,Funny']],
      dtype='<U141')

In [14]:
df['ratings']=comment_arry

In [15]:
df['title'].shape

(2550,)

In [16]:
df['title'].values[0]

'Do schools kill creativity?'

In [17]:
df['ratings']

0       Funny,Beautiful,Ingenious,Courageous,Longwinde...
1       Funny,Courageous,Confusing,Beautiful,Unconvinc...
2       Funny,Courageous,Ingenious,Beautiful,Unconvinc...
3       Courageous,Beautiful,Confusing,Funny,Ingenious...
4       Ingenious,Funny,Beautiful,Courageous,Longwinde...
                              ...
2545    Courageous,Informative,Inspiring,Funny,Persuas...
2546    Fascinating,Informative,Inspiring,Persuasive,J...
2547    Beautiful,Informative,Ingenious,Inspiring,Cour...
2548    Longwinded,Unconvincing,Funny,Inspiring,Fascin...
2549    Unconvincing,Informative,Inspiring,OK,Fascinat...
Name: ratings, Length: 2550, dtype: object

In [20]:
def spl(x):
    return x.split(' ')

In [21]:
df['title_temp']=df['title'].apply(spl)

In [22]:
df.head(2)

,description,event,main_speaker,ratings,speaker_occupation,tags,title,title_temp
0,Sir Ken Robinson makes an entertaining and pro...,TED2006,Ken Robinson,"Funny,Beautiful,Ingenious,Courageous,Longwinde...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,"[Do, schools, kill, creativity?]"
1,With the same humor and humanity he exuded in ...,TED2006,Al Gore,"Funny,Courageous,Confusing,Beautiful,Unconvinc...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,"[Averting, the, climate, crisis]"

In [23]:
df['ratings'].values

array(['Funny,Beautiful,Ingenious,Courageous,Longwinded,Confusing,Informative,Fascinating,Unconvincing,Persuasive,Jaw-dropping,OK,Obnoxious,Inspiring',
       'Funny,Courageous,Confusing,Beautiful,Unconvincing,Longwinded,Informative,Inspiring,Fascinating,Ingenious,Persuasive,Jaw-dropping,Obnoxious,OK',
       'Funny,Courageous,Ingenious,Beautiful,Unconvincing,Longwinded,Informative,Inspiring,Fascinating,Confusing,OK,Persuasive,Jaw-dropping,Obnoxious',
       ...,
       'Beautiful,Informative,Ingenious,Inspiring,Courageous,Confusing,Fascinating,Unconvincing,OK,Persuasive,Funny,Jaw-dropping,Longwinded,Obnoxious',
       'Longwinded,Unconvincing,Funny,Inspiring,Fascinating,Informative,Ingenious,Persuasive,Courageous,Beautiful,OK,Obnoxious,Jaw-dropping,Confusing',
       'Unconvincing,Informative,Inspiring,OK,Fascinating,Ingenious,Confusing,Obnoxious,Beautiful,Longwinded,Persuasive,Jaw-dropping,Courageous,Funny'],
      dtype=object)

In [24]:
def new_spl(x):
    return x.split(',')

In [25]:
df['ratings']=df['ratings'].apply(new_spl)

In [26]:
df['main_speaker'].values

array(['Ken Robinson', 'Al Gore', 'David Pogue', ..., 'Radhika Nagpal',
       'Theo E.J. Wilson', 'Karoliina Korppoo'], dtype=object)

In [27]:
def speaker(x):
    temp=[]
    temp.append(x)
    return temp

In [28]:
print(speaker('hello'))

['hello']

In [29]:
df['main_speaker']=df['main_speaker'].apply(speaker)

In [30]:
df['description'].values

array(['Sir Ken Robinson makes an entertaining and profoundly moving case for creating an education system that nurtures (rather than undermines) creativity.',
       'With the same humor and humanity he exuded in "An Inconvenient Truth," Al Gore spells out 15 ways that individuals can address climate change immediately, from buying a hybrid to inventing a new, hotter brand name for global warming.',
       'New York Times columnist David Pogue takes aim at technologyâ€™s worst interface-design offenders, and provides encouraging examples of products that get it right. To funny things up, he bursts into song.',
       ...,
       'Science fiction visions of the future show us AI built to replicate our way of thinking -- but what if we modeled it instead on the other kinds of intelligence found in nature? Robotics engineer Radhika Nagpal studies the collective intelligence displayed by insects and fish schools, seeking to understand their rules of engagement. In a visionary talk, she presents her work creating artificial collective power and previews a future where swarms of robots work together to build flood barriers, pollinate crops, monitor coral reefs and form constellations of satellites.',
       'In an unmissable talk about race and politics in America, Theo E.J. Wilson tells the story of becoming Lucius25, white supremacist lurker, and the unexpected compassion and surprising perspective he found from engaging with people he disagrees with. He encourages us to let go of fear, embrace curiosity and have courageous conversations with people who think differently from us. "Conversations stop violence, conversations start countries and build bridges," he says.',
       'With more than half of the world population living in cities, one thing is undeniable: we are an urban species. Part game, part urban planning sketching tool, "Cities: Skylines" encourages people to use their creativity and self-expression to rethink the cities of tomorrow. Designer Karoliina Korppoo takes us on a tour through some extraordinary places users have created, from futuristic fantasy cities to remarkably realistic landscapes. What does your dream city look like?'],
      dtype=object)

In [31]:
def chng_dis(x):
    return x.split(' ')

In [32]:
df['description']=df['description'].apply(chng_dis)

In [33]:
df['event']=df['event'].apply(chng_dis)

In [34]:
df.head(2)

,description,event,main_speaker,ratings,speaker_occupation,tags,title,title_temp
0,"[Sir, Ken, Robinson, makes, an, entertaining, ...",[TED2006],[Ken Robinson],"[Funny, Beautiful, Ingenious, Courageous, Long...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,"[Do, schools, kill, creativity?]"
1,"[With, the, same, humor, and, humanity, he, ex...",[TED2006],[Al Gore],"[Funny, Courageous, Confusing, Beautiful, Unco...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,"[Averting, the, climate, crisis]"

In [35]:
df['tags'].values

array(["['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching']",
       "['alternative energy', 'cars', 'climate change', 'culture', 'environment', 'global issues', 'science', 'sustainability', 'technology']",
       "['computers', 'entertainment', 'interface design', 'media', 'music', 'performance', 'simplicity', 'software', 'technology']",
       ...,
       "['AI', 'ants', 'fish', 'future', 'innovation', 'insects', 'intelligence', 'robots', 'science']",
       "['Internet', 'TEDx', 'United States', 'community', 'compassion', 'politics', 'race']",
       "['cities', 'design', 'future', 'infrastructure', 'play', 'public spaces', 'society', 'software', 'urban planning']"],
      dtype=object)

In [36]:
def chng_tags(x):
    return eval(x)

In [37]:
df['tags']=df['tags'].apply(chng_tags)

In [38]:
df.head(3)

,description,event,main_speaker,ratings,speaker_occupation,tags,title,title_temp
0,"[Sir, Ken, Robinson, makes, an, entertaining, ...",[TED2006],[Ken Robinson],"[Funny, Beautiful, Ingenious, Courageous, Long...",Author/educator,"[children, creativity, culture, dance, educati...",Do schools kill creativity?,"[Do, schools, kill, creativity?]"
1,"[With, the, same, humor, and, humanity, he, ex...",[TED2006],[Al Gore],"[Funny, Courageous, Confusing, Beautiful, Unco...",Climate advocate,"[alternative energy, cars, climate change, cul...",Averting the climate crisis,"[Averting, the, climate, crisis]"
2,"[New, York, Times, columnist, David, Pogue, ta...",[TED2006],[David Pogue],"[Funny, Courageous, Ingenious, Beautiful, Unco...",Technology columnist,"[computers, entertainment, interface design, m...",Simplicity sells,"[Simplicity, sells]"

In [39]:
df['vector']=df['tags']+df['description']+df['event']+df['main_speaker']+df['ratings']+df['title_temp']

In [40]:
df.head(2)

,description,event,main_speaker,ratings,speaker_occupation,tags,title,title_temp,vector
0,"[Sir, Ken, Robinson, makes, an, entertaining, ...",[TED2006],[Ken Robinson],"[Funny, Beautiful, Ingenious, Courageous, Long...",Author/educator,"[children, creativity, culture, dance, educati...",Do schools kill creativity?,"[Do, schools, kill, creativity?]","[children, creativity, culture, dance, educati..."
1,"[With, the, same, humor, and, humanity, he, ex...",[TED2006],[Al Gore],"[Funny, Courageous, Confusing, Beautiful, Unco...",Climate advocate,"[alternative energy, cars, climate change, cul...",Averting the climate crisis,"[Averting, the, climate, crisis]","[alternative energy, cars, climate change, cul..."

In [41]:
df=df[['title','vector']]

In [42]:
df['tags']=df['vector']

In [43]:
df=df[['title','tags']]

In [44]:
df.head(3)

,title,tags
0,Do schools kill creativity?,"[children, creativity, culture, dance, educati..."
1,Averting the climate crisis,"[alternative energy, cars, climate change, cul..."
2,Simplicity sells,"[computers, entertainment, interface design, m..."

In [45]:
l=[[1,2,3],[4,5,6]]
def tags_chng(x):
    return str(x)

In [46]:
tags_chng(l)

'[[1, 2, 3], [4, 5, 6]]'

In [47]:
df['tags']=df['tags'].apply(tags_chng)

In [48]:
df['tags'][0]

"['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching', 'Sir', 'Ken', 'Robinson', 'makes', 'an', 'entertaining', 'and', 'profoundly', 'moving', 'case', 'for', 'creating', 'an', 'education', 'system', 'that', 'nurtures', '(rather', 'than', 'undermines)', 'creativity.', 'TED2006', 'Ken Robinson', 'Funny', 'Beautiful', 'Ingenious', 'Courageous', 'Longwinded', 'Confusing', 'Informative', 'Fascinating', 'Unconvincing', 'Persuasive', 'Jaw-dropping', 'OK', 'Obnoxious', 'Inspiring', 'Do', 'schools', 'kill', 'creativity?']"

In [49]:
df.to_csv('ted_pre_pro.csv', index=False)

In [50]:
#now we create our vector space and plot every vector into that space

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

In [52]:
cv=CountVectorizer(max_features=3000,stop_words='english')

In [53]:
vectors=cv.fit_transform(df['tags']).toarray()

In [54]:
vectors.shape

(2550, 3000)

In [55]:
#now time for create a distance matrix

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
distance_matrics=cosine_similarity(vectors)

In [58]:
distance_matrics.shape

(2550, 2550)

In [59]:
distance_matrics[2]

array([0.30782154, 0.325214  , 1.        , ..., 0.20589105, 0.26095179,
       0.24527418])

In [60]:
##now making an class so that preserve the object in pickle from

In [61]:
class Recommend:    
    def srch(self,x):
        i=df[df['title']==x].index[0]
        l=distance_matrics[i]
        sort_l=sorted(list(enumerate(l)),reverse=True,key=lambda x:x[1])
        rec_l=sort_l[0:10]
        for i in rec_l:
            print(df['title'][i[0]])

In [62]:
obj=Recommend()

In [63]:
obj.srch('Simplicity sells')

Simplicity sells
The music wars
Cool tricks your phone can do
Toward a science of simplicity
5 predictions, from 1984
Rethink the desktop with BumpTop
The radical promise of the multi-touch interface
Human-centered design
E-voting without fraud
Designing for simplicity

In [64]:
#now convert obj into pkl file

In [65]:
import pickle

with open('my_Ted_object_2.pkl', 'wb') as file:
    pickle.dump(obj, file)

In [66]:
with open('my_Ted_object_2.pkl', 'rb') as file:
    loaded_object = pickle.load(file)

loaded_object.srch('Human-centered design')
# Output: MyClass(name=example, value=42)

Human-centered design
Organic design, inspired by nature
Treat design as art
Using design to make ideas new
Intricate beauty by design
Can design save newspapers?
E-voting without fraud
The design genius of Charles + Ray Eames
Design is in the details
An illustrated journey through Rome

In [67]:
loaded_object.srch('Intricate beauty by design')

Intricate beauty by design
Can design save newspapers?
Design is in the details
Organic design, inspired by nature
Design and the Elastic Mind
Treat design as art
Design and destiny
Designers -- think big!
Great design is serious, not solemn
Design, explained.